.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 810px;
  margin: 30px 0;

  .btn {
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .white {
    background-color: white;
    color: black;
  }
}

/* js */
.isList {
  width: 530px;
}

.hide {
  display: none;
}

/* Iphone SE */
@media only screen and (min-width: 0px) and (max-width: 413px) {
  .buttons {
    width: 350px;
  }
}

/* Iphone 12 pro */
@media only screen and (min-width: 376px) and (max-width: 390px) {
  .buttons {
    width: 350px;
  }
}

/* Iphone XR */
@media only screen and (min-width: 391px) and (max-width: 414px) {
  .buttons {
    width: 350px;
  }
}

/* Iphone 12 pro */
@media only screen and (min-width: 415px) and (max-width: 430px) {
  .buttons {
    width: 350px;
  }
}
