.modeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 810px;

  margin: 10px 0;

  .modeType {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mode {
    cursor: pointer;
    margin-right: 10px;
  }

  .clear {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}

/* js */
.toggle {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.isList {
  width: 525px;
}
