.modeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 810px;

  margin: 10px 0;

  .modeType {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mode {
    cursor: pointer;
    margin-right: 10px;
  }

  .clear {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}

/* js */
.toggle {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.isList {
  width: 525px;
}

.hide {
  display: none;
}

/* Iphone SE */
@media only screen and (min-width: 0px) and (max-width: 413px) {
  .modeContainer {
    width: 330px;
  }
}

/* Iphone 12 pro */
@media only screen and (min-width: 376px) and (max-width: 390px) {
  .modeContainer {
    width: 330px;
  }
}

/* Iphone XR */
@media only screen and (min-width: 391px) and (max-width: 414px) {
  .modeContainer {
    width: 330px;
  }
}

/* Iphone 12 pro */
@media only screen and (min-width: 415px) and (max-width: 430px) {
  .modeContainer {
    width: 330px;
  }
}
