/* Gird mode */
.item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 15px;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;

  .div {
    display: flex;
    align-items: center;
    gap: 10px;

    .img {
      height: 25px;
      border-radius: 18px;
    }
  }

  .profile {
    background-color: black;
    color: white;
    padding: 3px 5px;
    border-radius: 4px;
    text-decoration: none;
  }
}

/* List mode */
.listItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 240px;
  margin: 6px;

  .profile {
    display: none;
  }
}
