.item {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 15px;
  /* height: 50px; */
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;

  .div {
    display: flex;
    align-items: center;
    gap: 10px;

    .img {
      height: 25px;
      border-radius: 18px;
    }
  }

  .profile {
    /* width: 90px; */
    background-color: black;
    color: white;
    padding: 3px 5px;
    border-radius: 4px;
    text-decoration: none;
  }
}
